// http://ionicframework.com/docs/theming/

$colors: (
  primary:    #58B43F,
  secondary:  #fff,

);

ion-content{
    background-image: url('https://specials-images.forbesimg.com/dam/imageserve/1022389510/960x0.jpg?fit=scale');
    background-color: transparent !important;
}